*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    background-color: rgb(46, 177, 133);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.row{

    width:350px;
    height:100px;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
}
#search{
    font-size: 30px;
    width:100%;
    padding:5px;
    border-radius: 10px;
    border: none;
    align-items: center;
}
#second{
    align-self: start;
}