/*My main div was not centering but after adding width and height it got centered*/ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
     background-color: rgb(13, 85, 133);
    }

#input{
    padding:8px;
    width:300px;
    font-size: 20px;
    color:white;
    background-color: rgb(139, 79, 163);
    border: none;
    outline:1px solid white;
    margin-top:100px;
    margin-bottom: 20px;
    border-radius: 10px;



}
#card{
    width: 100%;
    height:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#userBox{
    background-color: rgb(114, 60, 136);
    margin:10px;
    width:55%;
    display: flex;
    padding:30px;
    border-radius: 15px;
    border: 1px solid white;
}
#ffr{
    display: flex;
    color:rgb(230, 217, 217);
    
    
}
#center-ffr{
    margin: 0 1rem;
}

#img{
height:10rem;
border-radius: 100px;
border:5px solid rgb(44, 41, 41);
}
#repos{
     display: flex;
    flex-wrap: wrap;
    margin-top:20px;
     
    
}
#repos a{
    margin: 10px;
    background-color: rgba(230, 81, 22,0.5);
    padding:3px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
#repos a:hover{
    background-color: rgba(0,0,0,0.2);
    color:rgb(238, 200, 200);
}
#nameAndPos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    color:rgb(230, 217, 217);
    font-size: 20px;
}
#name{
    margin-bottom: 3px;
}

#content{
    width: 100%;
    height:100%;
    padding:20px;
}

#btn{
    padding: 6px;
    font-size: 20px;
    border-radius: 10px;
    margin-left:5px;
    background-color: rgb(27, 160, 116);
    color:white;
    cursor: pointer;

}
#top{
text-align: center;
}
.show{
   background-color: rgba(0,0,0,0.5);
   border: 1px solid black;
    padding: 10px;
    color:red;
}
#main{
    display: flex;
    align-items:start;
    justify-content: center;
}